@import "../../../_vars.scss";
@import "../../../_item.scss";
@import "../../../_item.scss";


.item-section {
  &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
