@import "../../_reset.scss";
@import "../../_vars.scss";
@import "../../_item.scss";

.category-header {
  &_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
    h2 {
        margin: 0;
        padding-bottom: 20px !important;
    }
    .slider_main {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }

  &_popular {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    flex: 1 1 auto;
    &_item {
      flex: 1 1 calc(33.33% - 20px);
      max-width: calc(33.33% - 20px);
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      height: 150px;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100px;
        }
      }
      &:hover {
        box-shadow: $box-shadow-hover;
      }
    }
  }
}
