@import "../../_reset";
@import "../../_vars";


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  // border: 1px solid gray;
  &_header, &_benefits, &_main-slider {
    width: 80%;
    padding: 5px 0;
    // border: 1px solid red;
    margin: 0 auto;
  }
}

.main {
  flex: 1 1 auto;
  min-height: 75vh;

}
.section {
  flex: 1 1 auto;
  margin: 25px 0;
  // border: 1px solid gray;
  &_slider {
    margin-bottom: 25px;
  }
}

  h2 {
    font: $font-title !important;
    color: $primary-color;
    margin: 20px 0;
  }
  .items_more {
    margin: 20px 0;
   a {
    font: 400 30px "Lato", sans-serif !important;
    color: #7E7563 !important;
    transition: all .2s linear;
    text-decoration: underline;
    &:hover {
      // text-decoration: underline;
      color: $primary-color-hover-link !important;
    }
   }
  }