@import "../../../_vars.scss";

.header {
    &_menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; 
       color: $primary-color;
        li {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          &:last-child, &:first-child {
            a {
              color: #ffffff;
              background: red;
              padding: 5px;
              border: 1px solid white;
  
              &:hover {
                background: white;
                border: 1px solid red;
                color: red;
              }
             
          }
          }
          &:hover {
            a {
              transition: all .2s linear;
              color: $primary-color-hover-link;
            }
          }
          a {
            color: $primary-color;
          }
          }
          
      }
    }