

   .daily {
    &_deals {
        &_main {
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         align-items: center;
         row-gap: 50px;
         a {
             width: 100%;
         }
        }
        } 
    &_deal {
        &_block {
            width: 100%;
            img {
                width: 100%;
             }
            }
   }
}