.card {
  &_items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 28px;
    margin: 20px 0;
    width: 100%;
  }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 15%;
    box-shadow: $box-shadow;
    padding: 15px;
    min-height: 500px;
    width: 250px;
    background-color: #fff;
    &:hover {
        box-shadow: $box-shadow-hover;
      }
  }
}

.item {
    &_description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
          padding-top: 15px;
          height: 100%;
          flex: 1 1 auto;
    }
    &_image {
      height: 230px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      flex: 0 0 auto; 
      margin-top: auto;
     img {
      max-width: 100%;
      max-height: 230px;
      object-fit: contain;
     }
    }
    &_brand-logo {
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
        img {
          padding: 5px 0;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
    
    }
  
    &_title {
      font: $font-small;
      text-wrap: wrap;
      width: 200px;
      min-height: 100px;
      text-align: left;
      flex: 1 1 auto;
      margin-top: 5px;
      &:hover {
        color: $primary-color-hover-link;
      }
    }
    &_rating {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      color: green;
      font: $font-x-small;
      padding-bottom: 5px;
    }
    &_pricing {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-top: 10px;
    }
    &_price {
      font: $font-regular;
      color: $primary-color-attention;
    }
    &_old-price {
      del {
          color: $primary-color;
      }
    }
    &_actions {
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      a {
        color: #fff !important;
        padding: 10px 15px;
        font: $font-x-small;
        text-align: center;
        text-transform: capitalize;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        background: $button-addToCart;
        transition: box-shadow 0.2s ease-in-out;
        
      }
      .item_add-to-cart {
        background: $button-addToCart;
        width: 100%;
        &:hover {
          background: $primary-color-hover-link;
        }
      }
      .item_quick-but {
        background: $button-buyNow;
        &:hover {
          background: $primary-color-hover-link;
        }
      }
    }
  }