*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  //   font-family: Roboto sans-serif;
}

:focus,
:active {
  outline: none;
}

html,
body {
  min-width: 320px;
  overscroll-behavior: none;
  overflow-x: hidden;
}

a {
  &:focus,
  &:active {
    outline: none;
  }
  text-decoration: none;
  color: black;
  &:visited {
    text-decoration: none;
    // color: black;
  }
  color: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul {
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* For Webkit browsers (Chrome, Safari) */
.quantity_input::-webkit-outer-spin-button,
.quantity_input::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.quantity_input[type="number"],
.cart_field[type="number"] {
  -moz-appearance: textfield;
}

/* Optional: Remove the border (if you prefer to hide the input field styling) */
.quantity_input {
  appearance: none; /* Ensures consistency */
  border: none; /* Optional, remove border */
  outline: none; /* Optional, remove outline */
}
