$primary-color: #7E7563;
$primary-font: Helvetica, sans-serif;
$primary-color-text: #FBFBF8;
$primary-color-hover-text: #D4D3CC;
$primary-color-hover-link: #3e3930;
$mainFont:  "Lato", sans-serif;


$font-title: 400 40px $mainFont;
$font-regular: 400 26px $mainFont;
$font-small: 400 18px $mainFont;
$font-x-small: 400 16px $mainFont;
$font-link: 300 14px $mainFont;

$button-buyNow: #7E7563;
$button-addToCart: #7E7563;

