$primary-color: #7E7563;
$primary-color-light: #817e76;
$primary-font: Helvetica, sans-serif;
$primary-color-text: #FBFBF8;
$primary-color-hover-text: #D4D3CC;
$primary-color-hover-link: #5f574a;
$footer-color: #000000;
$primary-color-attention: red;
$primary-color-success: rgb(0, 175, 0);

$footer-gray: #b3b3b3;
$mainFont:  "Lato", sans-serif;


$font-title: 400 40px $mainFont;
$font-regular: 400 26px $mainFont;
$font-small: 400 18px $mainFont;
$font-x-small: 400 16px $mainFont;
$font-link: 300 14px $mainFont;

$button-buyNow: #7E7563;
$button-addToCart: #7E7563;

$transition: all 0.2s ease-in-out;
$cursor: pointer;
$box-shadow: 0 0 5px rgba(52, 3, 3, 0.25);
$box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.25);